.card-container {
  background-color: #4db8ff;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.title {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
}

.card-container-doger-blue {
  background-color: #4db8ff;
  box-shadow: 0px 2px #1f90e1;
}

.card-container-carnation {
  background-color: #fe595c;
  box-shadow: 0px 2px #ba1e1d;
}

.card-container-electric-violet {
  background-color: #8e3bff;
  box-shadow: 0px 2px #640bda;
}
